<h1>Editing bagel</h1>

<% form_for(@bagel) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </p>
  <p>
    <%= f.label :teammate %><br />
    <%= f.text_field :teammate %>
  </p>
  <p>
    <%= f.label :opponent_1 %><br />
    <%= f.text_field :opponent_1 %>
  </p>
  <p>
    <%= f.label :opponent_2 %><br />
    <%= f.text_field :opponent_2 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bagel %> |
<%= link_to 'Back', bagels_path %>

