%h2 Quick Stats
#bagel-owner
  %p= "Bagel Owner: #{@report.current_bagel_owner_name}"
#best-team
  %p= "Best Team: #{@report.best_team_player_names}"

%h2 Active Players That Have Received The Most Bagels
= pie_chart @report.players_grouped_by_bagel_ownage
