#main-box
  #quote
    - if @current_owner.nil?
      = 'No one owns the bagel, start playing better!'
    - else
      = "Fact: #{link_to @current_owner.name, @current_owner} currently owns the bagel."

#content
  %h2 Other Facts

  :ruby
    bagel_contributor_links = []
    @contributors.each { |b| bagel_contributor_links.push(link_to(b.name, b)) }

  %p= PlayersHelper.bagel_contributors @contributors, bagel_contributor_links
  
  :ruby
    bagel_preventer_links = []
    @preventers.each { |b| bagel_preventer_links.push(link_to(b.name, b)) }

  %p= PlayersHelper.bagel_preventers @preventers, bagel_preventer_links

  %h2 Most Recent Bagels

  %table#recent_bagels
    %tr
      %th Baked On
      %th Owner
      %th Teammate
      %th Off. Opponent
      %th Def. Opponent
    - @bagels.each do |bagel|
      %tr
        %td= h bagel.baked_on_display
        %td= h bagel.owner_name
        %td= h bagel.teammate_name
        %td= h bagel.opponent_1_name
        %td= h bagel.opponent_2_name
        %td= link_to "Show", bagel