- content_for :head do
  = javascript_include_tag "https://www.google.com/jsapi", "chartkick"

- content_for :header_image do
  = image_tag("foos.png", alt: "Foosball")

#quick-stats
  %h1 Quick Stats
  %ul.thumbnails
    %li#bagel-owner.span3
      %div.thumbnail.palette-amethyst
        %h3= @report.current_bagel_owner_name
        %p Current Bagel Owner
    %li#bagel-total.span3
      %div.thumbnail.palette-sun-flower
        %h3= @report.total_bagel_count
        %p Total Bagels
    %li#best-team.span3
      %div.thumbnail.palette-peter-river
        %h3!= "#{@report.best_team_offensive_player_name} &amp; #{@report.best_team_defensive_player_name}"
        %p <a id="best-team-tip" data-toggle="tooltip" data-placement="bottom" data-title="(offense & defense)">Best Team</a> (#{pluralize(@report.best_team.plus_minus.abs, 'Bagel')} Given)
    %li#worst-team.span3
      %div.thumbnail.palette-concrete
        %h3!= "#{@report.worst_team_offensive_player_name} &amp; #{@report.worst_team_defensive_player_name}"
        %p <a id="worst-team-tip" data-toggle="tooltip" data-placement="bottom" data-title="(offense & defense)">Worst Team</a> (#{pluralize(@report.worst_team.plus_minus.abs, 'Bagel')} Received)

#player-rankings
  %h1 Active Player Rankings
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th Player
        %th Plus-Minus
    %tbody
      - @report.players_by_plus_minus.each do |player|
        %tr= player

%h1 Bagels Received Between Active Players
%p The higher the percentage, the more a player has received the bagel; losers.
= pie_chart @report.players_grouped_by_bagel_ownage

%h1 Bagels Received by Month
%p Do we give out more bagels in the summer? (Hint: you can't answer the question with this chart)
= line_chart @report.bagels_given_over_time

- content_for :page_js do
  :javascript
    $("[data-toggle=tooltip]").tooltip("hide");
