- content_for :head do
  = javascript_include_tag "https://www.google.com/jsapi", "chartkick"

- content_for :header_image do
  = image_tag("foos.png", alt: "Foosball")

#quick-stats
  %h2 Quick Stats
  %ul
    %li#bagel-owner= "Current Bagel Owner: #{@report.current_bagel_owner_name}"
    %li#best-team!= "The best team has #{link_to @report.best_team_offensive_player} on offense and #{link_to @report.best_team_defensive_player} on defense. They've given #{pluralize(@report.best_team.plus_minus.abs, 'bagel')}."
    %li#worst-team!= "The worst team has #{link_to @report.worst_team_offensive_player} on offense and #{link_to @report.worst_team_defensive_player} on defense. They've received #{pluralize(@report.worst_team.plus_minus.abs, 'bagel')}."
    %li#total-bagels= "We've baked a total of #{pluralize(@report.total_bagel_count, 'bagel')}."

#player-rankings
  %h2 Active Player Rankings
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th Player
        %th Plus-Minus
    %tbody
      - @report.players_by_plus_minus.each do |player|
        %tr= player

%h2 Bagels Received Between Active Players
%p The higher the percentage, the more a player has received the bagel; losers.
= pie_chart @report.players_grouped_by_bagel_ownage

%h2 Bagels Received by Month
%p Do we give out more bagels in the summer? (Hint: you can't answer the question with this chart)
= line_chart @report.bagels_given_over_time
