- content_for :header_image do
  = image_tag("philly.png", alt: "Cream Cheese")

%h2 Bagels

- if flash[:notice]
  %div.alert.alert-success
    %button.close(data-dismiss="alert") &times;
    %p= flash[:notice]

#bagels
  %table.table.table-condensed.table-striped
    %thead
      %th Baked On
      %th Owner
      %th Teammate
      %th Winning Offensive Player
      %th Winning Defensive Player
    %tbody
      - @bagels.each do |bagel|
        %tr
          %td= bagel.baked_on.strftime("%Y-%m-%d")
          %td= link_to(bagel.owner, bagel.owner)
          %td= bagel.teammate.nil? ? "-" : link_to(bagel.teammate.name, bagel.teammate)
          %td= bagel.opponent_1.nil? ? "-" : link_to(bagel.opponent_1.name, bagel.opponent_1)
          %td= bagel.opponent_2.nil? ? "-" : link_to(bagel.opponent_2.name, bagel.opponent_2)
