#main-box
  #quote
    - if @current_owner.nil?
      = 'No one owns the bagel, start playing better!'
    - else
      = "Fact: #{link_to @current_owner.name, @current_owner} currently owns the bagel"

#content
  %h2 Other Facts

  :ruby
    bagel_contributor_links = []
    @contributors.each { |b| bagel_contributor_links.push(link_to(b.name, b)) }

    contribute_verb = " is "
    contribute_verb = " are " if bagel_contributor_links.size > 1

    plus_minus = PlayersHelper.colored_plus_minus @contributors.first.plus_minus

  %p= bagel_contributor_links.to_sentence + contribute_verb + "more likely to help a team receive a bagel with a plus-minus of " + plus_minus + "."
  
  :ruby
    bagel_preventer_links = []
    @preventers.each { |b| bagel_preventer_links.push(link_to(b.name, b)) }

    prevent_verb = " is "
    prevent_verb = " are " if bagel_preventer_links.size > 1

    plus_minus = PlayersHelper.colored_plus_minus @preventers.first.plus_minus

  %p= bagel_preventer_links.to_sentence + prevent_verb + "more likely to help a team give a bagel to another team with a plus-minus of " + plus_minus + "."

  #special_wager
    %h2 Special Wager
    %p
      :plain
        Bill thinks Paul will have a -10 plus-minus between now (10/16/2009) and Christmas (12/25/2009).
        Paul asserts that his plus-minus will still be higher than Bill's (within the same time range).
    %p We will track both of their plus-minus values here:

    %table
      %tr
        %th{:colspan => "2"} Plus-Minus Between 10/16/2009 and 12/25/2009
      - @special_wager.each do |player, plus_minus|
        %tr
          %td{:width => "50%"}= player.name
          %td= PlayersHelper.colored_plus_minus plus_minus

  %h2 Most Recent Bagels

  %table
    %tr
      %th Baked On
      %th Owner
      %th Teammate
      %th Off. Opponent
      %th Def. Opponent
    - @bagels.each do |bagel|
      %tr
        %td= h bagel.baked_on.to_s(:date)
        %td= h bagel.owner_name
        %td= h bagel.teammate_name
        %td= h bagel.opponent_1_name
        %td= h bagel.opponent_2_name
        %td= link_to "Show", bagel