<div id="main-box">
  <div id="quote">Fact: <%= link_to @current_owner.name, @current_owner  %> currently owns the bagel.</div>
</div>

<div id="content">

<h2>Other Facts</h2>

<!--
<p>Owned The Most Bagels: </p>

<p>Baked The Most Bagels In One Day: </p>
-->

<%
  bagel_contributor_links = []
  @contributors.each { |b| bagel_contributor_links.push(link_to(b.name, b)) }

  contribute_verb = " is "
  contribute_verb = " are " if bagel_contributor_links.size > 1

  plus_minus = @contributors.first.plus_minus.to_s
%>

<p>
  <%= bagel_contributor_links.join(", ") + contribute_verb + "more likely to help a team receive a bagel with a plus-minus of " + plus_minus + "." %>
</p>

<%
  bagel_preventer_links = []
  @preventers.each { |b| bagel_preventer_links.push(link_to(b.name, b)) }

  prevent_verb = " is "
  prevent_verb = " are " if bagel_preventer_links.size > 1

  plus_minus = @preventers.first.plus_minus.to_s
%>

<p>
  <%= bagel_preventer_links.join(", ") + prevent_verb + "more likely to help a team give a bagel to another team with a plus-minus of " + plus_minus + "." %>
</p>


<h2>Most Recent Bagels</h2>

<table>
  <tr>
  	<th>Baked On</th>
    <th>Owner</th>
    <th>Teammate</th>
    <th>Opponent 1</th>
    <th>Opponent 2</th>
  </tr>

<% @bagels.each do |bagel| %>
  <tr>
  	<td><%=h bagel.baked_on.to_s(:date) %></td>
    <td><%=h bagel.owner_name %></td>
    <td><%=h bagel.teammate_name %></td>
    <td><%=h bagel.opponent_1_name %></td>
    <td><%=h bagel.opponent_2_name %></td>
    <td><%= link_to 'Show', bagel %></td>
  </tr>
<% end %>
</table>

</div>