- content_for :header_image do
  = image_tag("philly.png", alt: "Cream Cheese")

- if flash[:notice]
  %div.alert.alert-success
    %button.close(data-dismiss="alert") &times;
    %p= flash[:notice]

#bagels(data-pjax-container)
  = render partial: "shared/bagels_table", locals: { bagels: @bagels }
  = will_paginate @bagels, renderer: BootstrapPagination::Rails

- content_for :page_js do
  = javascript_include_tag "jquery.pjax"
  :javascript
    $(document).pjax('.pagination a:not([data-remote]):not([data-behavior]):not([data-skip-pjax])', '[data-pjax-container]');
