<div id="main-box">
  <div id="quote">Someone else got the bagel?</div>
</div>

<div id="content">

<% form_for(@bagel) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :baked_on %><br />
    <%= calendar_date_select :bagel, :baked_on, :time => false, :buttons => false, :month_year => 'label' %>
  </p>

  <p>
    <%= f.label :owner_name %><br />
    <%= text_field_with_auto_complete :bagel, :owner_name, { :autocomplete => 'off' }, { :url => names_players_path, :frequency => '0.2', :method => 'get', :param_name => 'name' } %>
  </p>

  <p>
    <%= f.label :teammate_name %><br />
    <%= text_field_with_auto_complete :bagel, :teammate_name, { :autocomplete => 'off' }, { :url => names_players_path, :frequency => '0.2', :method => 'get', :param_name => 'name' } %>
  </p>
  <p>
    <%= f.label :opponent_1_name %><br />
    <%= text_field_with_auto_complete :bagel, :opponent_1_name, { :autocomplete => 'off' }, { :url => names_players_path, :frequency => '0.2', :method => 'get', :param_name => 'name' } %>
  </p>
  <p>
    <%= f.label :opponent_2_name %><br />
    <%= text_field_with_auto_complete :bagel, :opponent_2_name, { :autocomplete => 'off' }, { :url => names_players_path, :frequency => '0.2', :method => 'get', :param_name => 'name' } %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', bagels_path %>

</div>