- content_for :head do
  = stylesheet_link_tag "bagels"
  = javascript_include_tag "pickadate.min"
  = javascript_include_tag "bagels"

#main-box
  #quote Someone else got the bagel?

#content
  = form_for(@bagel) do |f|
    = f.error_messages

    %p
      = f.label :baked_on
      %br
      = f.text_field :baked_on, :class => "datepicker", :size => 12
    %p
      = f.label "Owner's Name"
      %br
      = f.text_field :owner_name, { :size => 20 }

    %p
      = f.label "Teammate's Name"
      %br
      = f.text_field :teammate_name, { :size => 20 }

    %p
      = f.label "Offensive Opponent's Name"
      %br
      = f.text_field :opponent_1_name, { :size => 20 }

    %p
      = f.label "Defensive Opponent's Name"
      %br
      = f.text_field :opponent_2_name, { :size => 20 }

    %p
      = f.submit "Add New Bagel", :class => 'button big'
      = link_to "cancel", root_path, :class => 'button'

:javascript
  $(function() {
    $(".datepicker").pickadate({
      format: 'yyyy-mm-dd',
      clear: false,
      onStart: function() {
        var today = new Date();
        var calendar = this;
        var month = today.getMonth() + 1;
        calendar.setDate(today.getFullYear(), month, today.getDate());
      }
    });

    $("#bagel_owner_name").autocomplete({
      source: "#{names_players_path}"
    });

    $("#bagel_teammate_name").autocomplete({
      source: "#{names_players_path}"
    });
    
    $("#bagel_opponent_1_name").autocomplete({
      source: "#{names_players_path}"
    });

    $("#bagel_opponent_2_name").autocomplete({
      source: "#{names_players_path}"
    });
  });
