- content_for :head do
  = stylesheet_link_tag "picker-classic"
  = stylesheet_link_tag "picker-classic.date"

- content_for :header_image do
  = image_tag("add-bagel-header.png", alt: "Fresh Baked Bagels")

= form_for @bagel do |bagel_form|
  = error_messages_for @bagel, class: "error-text", header_message: "Ya got some problems, buddy..", message: ""

  %div.row
    %div.span4
      %div.control-group
        = bagel_form.text_field :baked_on, class: "datepicker", size: 12

  %div.row
    %div.span4
      %div.control-group
        = bagel_form.fields_for :owner do |builder|
          = builder.label :name, "Owner's Name"
          = builder.text_field :name, "value placeholder" => "Owner's Name", autocomplete: "off"

    %div.span4
      %div.control-group
        = bagel_form.fields_for :teammate do |builder|
          = builder.label :name, "Teammate's Name"
          = builder.text_field :name, "value placeholder" => "Teammate's Name", autocomplete: "off"

  %div.row
    %div.span4
      %div.control-group
        = bagel_form.fields_for :opponent_1 do |builder|
          = builder.label :name, "Winning Offensive Player's Name"
          = builder.text_field :name, "value placeholder" => "Winning Offensive Player's Name", autocomplete: "off"

    %div.span4
      %div.control-group
        = bagel_form.fields_for :opponent_2 do |builder|
          = builder.label :name, "Winning Defensive Player's Name"
          = builder.text_field :name, "value placeholder" => "Winning Defensive Player's Name", autocomplete: "off"

  %div.row
    %br
  %div.row
    %div.span4
      = button_tag "Add New Bagel", class: 'btn btn-primary btn-large'

- content_for :page_js do
  = javascript_include_tag "picker"
  = javascript_include_tag "picker.date"

  :javascript
    $(function() {
      $("#bagel_owner_name").focus();


      $("#bagel_owner_name").typeahead({
        source: #{player_names}
      });

      $("#bagel_teammate_name").typeahead({
        source: #{player_names}
      });

      $("#bagel_opponent_1_name").typeahead({
        source: #{player_names}
      });

      $("#bagel_opponent_2_name").typeahead({
        source: #{player_names}
      });

      $(".datepicker").pickadate({
        format: 'Bake!d on yyyy-mm-dd',
        clear: false,
        onStart: function() {
          var today = new Date();
          var calendar = this;
          var month = today.getMonth() + 1;
          calendar.set("select", [today.getFullYear(), month, today.getDate()]);
        }
      });
    });
