- content_for :head do
  = stylesheet_link_tag "picker-classic"
  = stylesheet_link_tag "picker-classic.date"

- content_for :header_image do
  = image_tag("add-bagel-header.png", alt: "Fresh Baked Bagels")

= form_for @bagel do |bagel_form|
  = error_messages_for @bagel, class: "error-text", header_message: "Ya got some problems, buddy..", message: ""

  %div.row
    %div.span4
      %div.control-group
        = bagel_form.text_field :baked_on, class: "datepicker", size: 12

  %div.row
    %div.span4
      %div.control-group
        = bagel_form.fields_for :owner do |builder|
          = builder.label :name, "Bagel Owner"
          = select :bagel, :owner, options_for_select(player_selection, selected: @bagel.owner_id), {}, { class: "selectpicker" }

    %div.span4
      %div.control-group
        = bagel_form.fields_for :teammate do |builder|
          = builder.label :name, "Bagel Teammate"
          = select :bagel, :teammate, options_for_select(player_selection, selected: @bagel.teammate_id), {}, { class: "selectpicker" }

  %div.row
    %div.span4
      %div.control-group
        = bagel_form.fields_for :opponent_1 do |builder|
          = builder.label :name, "Winning Offensive Player"
          = select :bagel, :opponent_1, options_for_select(player_selection, selected: @bagel.opponent_1_id), {}, { class: "selectpicker" }

    %div.span4
      %div.control-group
        = bagel_form.fields_for :opponent_2 do |builder|
          = builder.label :name, "Winning Defensive Player"
          = select :bagel, :opponent_2, options_for_select(player_selection, selected: @bagel.opponent_2_id), {}, { class: "selectpicker" }

  %div.row
    %div.span4
      = button_tag "Add New Bagel", class: 'btn btn-primary btn-large'

- content_for :page_js do
  = javascript_include_tag "picker"
  = javascript_include_tag "picker.date"

  :javascript
    $(".datepicker").pickadate({
      format: 'Bake!d on yyyy-mm-dd',
      clear: false,
      onStart: function() {
        var today = new Date();
        var calendar = this;
        calendar.set("select", [today.getFullYear(), today.getMonth(), today.getDate()]);
      }
    });

    $(".selectpicker").selectpicker({menuStyle: "dropdown-inverse"});
