- content_for :head do
  = javascript_include_tag "pickadate.min"

#main-box
  #quote Someone else got the bagel?

#content
  = form_for(@bagel) do |f|
    = f.error_messages

    %p
      = f.label :baked_on
      %br
      = f.text_field :baked_on, :class => "datepicker", :size => 12
    %p
      = f.label "Owner's Name"
      %br
      != text_field_with_auto_complete :bagel, :owner_name, { :size => 20 }, { :skip_style => true, :url => names_players_path, :frequency => '0.05', :method => 'get', :param_name => 'name'}

    %p
      = f.label "Teammate's Name"
      %br
      != text_field_with_auto_complete :bagel, :teammate_name, { :size => 20 }, { :skip_style => true, :url => names_players_path, :frequency => '0.05', :method => 'get', :param_name => 'name' }

    %p
      = f.label "Offensive Opponent's Name"
      %br
      != text_field_with_auto_complete :bagel, :opponent_1_name, { :size => 20 }, { :skip_style => true, :url => names_players_path, :frequency => '0.05', :method => 'get', :param_name => 'name' }

    %p
      = f.label "Defensive Opponent's Name"
      %br
      != text_field_with_auto_complete :bagel, :opponent_2_name, { :size => 20 }, { :skip_style => true, :url => names_players_path, :frequency => '0.05', :method => 'get', :param_name => 'name' }

    %p
      = f.submit "Add New Bagel", :class => 'button big'
      = link_to "cancel", root_path, :class => 'button'

:javascript
  $(function() {
    $(".datepicker").pickadate({
      format: 'yyyy-mm-dd',
      clear: false,
      onStart: function() {
        var today = new Date();
        var calendar = this;
        var month = today.getMonth() + 1;
        calendar.setDate(today.getFullYear(), month, today.getDate());
      }
    });
  });
