- content_for :head do
  = stylesheet_link_tag "picker-classic"
  = stylesheet_link_tag "picker-classic.date"

- content_for :header_image do
  = image_tag("add-bagel-header.png", alt: "Fresh Baked Bagels")

= form_tag "/bagels", method: "post", id: "new-bagel-form" do
  / TODO error messages

  %div.row
    %div.span4
      = text_field_tag :baked_on, nil, class: "datepicker", size: 12

  %div.row
    %div.span4
      = label_tag :owner_name, "Owner's Name"
      = text_field_tag :owner_name, nil, "value placeholder" => "Owner's Name", autocomplete: "off"

    %div.span4
      = label_tag :teammate_name, "Teammate's Name"
      = text_field_tag :teammate_name, nil, "value placeholder" => "Teammate's Name"

  %div.row
    %div.span4
      = label_tag :opponent_1_name, "Winning Offensive Player's Name"
      = text_field_tag :opponent_1_name, nil, "value placeholder" => "Winning Offensive Player's Name"

    %div.span4
      = label_tag :opponent_2_name, "Winning Defensive Player's Name"
      = text_field_tag :opponent_2_name, nil, "value placeholder" => "Winning Defensive Player's Name"

  %div.row
    %br
  %div.row
    %div.span4
      = button_tag "Add New Bagel", class: 'btn btn-primary btn-large'

- content_for :page_js do
  = javascript_include_tag "picker"
  = javascript_include_tag "picker.date"

  :javascript
    $(function() {
      $("#owner_name").focus();


      $("#owner_name").typeahead({
        source: #{@player_names}
      });

      $("#teammate_name").typeahead({
        source: #{@player_names}
      });

      $("#opponent_1_name").typeahead({
        source: #{@player_names}
      });

      $("#opponent_2_name").typeahead({
        source: #{@player_names}
      });

      $(".datepicker").pickadate({
        format: 'Bake!d on yyyy-mm-dd',
        clear: false,
        onStart: function() {
          var today = new Date();
          var calendar = this;
          var month = today.getMonth() + 1;
          calendar.set("select", [today.getFullYear(), month, today.getDate()]);
        }
      });
    });
