%section
  %section#sign-in.login-form
    %h1 Bagel Central
    = form_for :sign_in do |f|
      - if flash[:error]
        %section.control-group.error
          = f.password_field :password, "value placeholder" => "Password"
          = f.hidden_field :hp
        = f.submit "Enter", class: "btn btn-primary btn-large btn-block"
      - else
        %section.control-group
          = f.password_field :password, "value placeholder" => "Password"
          = f.hidden_field :hp
        = f.submit "Enter", name: "enter", class: "btn btn-primary btn-large btn-block"
