:ruby
  if @bagels.nil? || !@bagels.empty?
    haml_concat %(<table id="recent_bagels"><tr><th>Baked On</th><th>Owner</th><th>Off. Opponent</th><th>Def. Opponent</th></tr>)
  elsif
    haml_concat "<p>#{@player.name} has not been involved in any bagels.</p>"
  end

- (@bagels || []).each do |bagel|
  %tr
    %td= h bagel.baked_on_display
    %td= h bagel.owner_name
    %td= h bagel.teammate_name
    %td= h bagel.opponent_1_name
    %td= h bagel.opponent_2_name
    %td= link_to "Show", bagel

:ruby
  if @bagels
    haml_concat "</table>"
  end

= will_paginate @bagels if @bagels