- if @bagels && !@bagels.empty?
  %table#recent_bagels
    %thead
      %tr.header
        %th ID
        %th Baked On
        %th Owner
        %th Teammate
        %th Off. Opponent
        %th Def. Opponent
    %tbody
      - @bagels.each do |bagel|
        %tr
          %td= link_to bagel.id, bagel
          %td= bagel.baked_on_display
          %td= bagel.owner_name
          %td= bagel.teammate_name
          %td= bagel.opponent_1_name
          %td= bagel.opponent_2_name