%table.table.table-condensed.table-striped
  %thead
    %th Baked On
    %th Owner
    %th Teammate
    %th Winning Offensive Player
    %th Winning Defensive Player
  %tbody
    - bagels.each_bagel do |bagel|
      %tr
        %td= bagel.baked_on.strftime("%Y-%m-%d")
        %td= link_to(bagel.owner.name, player_path(bagel.owner.id))
        %td= bagel.teammate.nil? ? "-" : link_to(bagel.teammate.name, player_path(bagel.teammate.id))
        %td= bagel.opponent_1.nil? ? "-" : link_to(bagel.opponent_1.name, player_path(bagel.opponent_1.id))
        %td= bagel.opponent_2.nil? ? "-" : link_to(bagel.opponent_2.name, player_path(bagel.opponent_2.id))
