- if @bagels && !@bagels.empty?
  %table#recent_bagels
    %tr.header
      %th Baked On
      %th Owner
      %th Teammate
      %th Off. Opponent
      %th Def. Opponent
      - @bagels.each do |bagel|
        %tr
          %td= bagel.baked_on_display
          %td= bagel.owner_name
          %td= bagel.teammate_name
          %td= bagel.opponent_1_name
          %td= bagel.opponent_2_name
          %td= link_to "Show", bagel
