- content_for :header_image do
  = image_tag("legos.png", alt: "Lego Blocks")

%h1= "Editing #{@player}"

= form_for @player do |f|
  = error_messages_for class: "callout callout-danger", header_message: "Don't look now, but you gave me bad input."

  %div.row
    %div.col-md-6
      %div.form-group
        = f.label :name, "Name"
        = f.text_field :name, class: "form-control"

  %div.row
    %div.col-md-6
      %div.form-group
        = f.label :surname, "Surname"
        = f.text_field :surname, class: "form-control"

  %div.row
    %div.col-md-6
      %div.checkbox
        = f.label :active, "Still Active?"
        = f.check_box :active

  %div.row
    %div.col-md-6
      = f.button "Update Player", class: "btn btn-primary btn-lg"
