- content_for :header_image do
  = image_tag("chess_pieces.png", alt: "Chess Board Pieces")

- if flash[:notice]
  %div.alert.alert-success
    %button.close(data-dismiss="alert") &times;
    %p= flash[:notice]

#players
  %ul.thumbnails
    - @players.each do |player|
      %li.span2
        = link_to player_path(player.id), id: player.name.downcase do
          %div.thumbnail.palette-wet-asphalt
            %img(src="http://placekitten.com/260/180?image=#{Random.new.rand(10)}")
            %h4= player.name
  %p
    %span.fui-photo
    %a(href="http://placekitten.com/attribution.html") Image Attribution
