- content_for :header_image do
  = image_tag("legos.png", alt: "Lego Blocks")

%h1 Add A New Player

= form_for @player do |f|
  = f.error_messages

  %div.row
    %div.span4
      %div.control-group
        = f.text_field :name, "value placeholder" => "Name"

  %div.row
    %div.span4
      %div.control-group
        = f.text_field :surname, "value placeholder" => "Surname"

  %div.row
    %div.span4
      = f.button "Add Player", class: "btn btn-primary btn-large"
