- content_for :header_image do
  = image_tag("legos.png", alt: "Lego Blocks")

%h1 Add A New Player

= form_for @player do |form|
  = form.error_messages

  %div.row
    %div.span4
      %div.control-group
        = form.text_field :name, "value placeholder" => "Name"

  %div.row
    %div.span4
      = button_tag "Add Player", class: "btn btn-primary btn-large"
