- content_for :head do
  = javascript_include_tag "https://www.google.com/jsapi", "chartkick"

- content_for :header_image do
  = image_tag("cat_table.png", alt: "Cats on Foosball Table")

- if flash[:notice]
  %div.alert.alert-success
    %button.close(data-dismiss="alert") &times;
    %p= flash[:notice]

%h1= @player.full_name

#quick-stats
  %div.row
    %div#plus-minus.col-sm-6.col-md-3
      %div.thumbnail
        %div.caption
          %h3(class="#{@player.plus_minus_color}")= @player.plus_minus
          %p Plus-Minus
    - if @player.best_team_on_offense
      %div#best-defensive-teammate.col-sm-6.col-md-3
        %div.thumbnail
          %div.caption
            %h3= @player.best_team_on_offense.defense_name
            %p Best Defensive Teammate
            %p= "Team Plus-Minus: #{@player.best_team_on_offense.plus_minus}"
    - if @player.best_team_on_defense
      %div#best-offensive-teammate.col-sm-6.col-md-3
        %div.thumbnail
          #div.caption
            %h3= @player.best_team_on_defense.offense_name
            %p Best Offensive Teammate
            %p= "Team Plus-Minus: #{@player.best_team_on_defense.plus_minus}"
    - if @player.worst_team_on_offense
      %div#worst-defensive-teammate.col-sm-6.col-md-3
        %div.thumbnail
          %div.caption
            %h3= @player.worst_team_on_offense.defense_name
            %p Worst Defensive Teammate
            %p= "Team Plus-Minus: #{@player.worst_team_on_offense.plus_minus}"
    - if @player.worst_team_on_defense
      %div#worst-offensive-teammate.col-sm-6.col-md-3
        %div.thumbnail
          %div.caption
            %h3= @player.worst_team_on_defense.offense_name
            %p Worst Offensive Teammate
            %p= "Team Plus-Minus: #{@player.worst_team_on_defense.plus_minus}"

%h2 Bagel Ownership Compared To Other Players
%p The ownership is based on the number of times the player was the bagel owner.
= pie_chart @player.data_for_bagels_owned_chart, id: "ownership-chart", content_for: :chart_js

%h2 Their Bagels

%div(data-pjax-container)
  #bagels
    = render partial: "shared/bagels_table", locals: { bagels: @player.bagels }
    = will_paginate @player.bagels, params: { anchor: "bagels" }, renderer: BootstrapPagination::Rails

- content_for :page_js do
  = javascript_include_tag "highcharts", "chartkick"
  = yield :chart_js
  = javascript_include_tag "jquery.pjax"
  :javascript
    $(document).pjax('.pagination a:not([data-remote]):not([data-behavior]):not([data-skip-pjax])', '[data-pjax-container]');
