<div id="main-box">
  <div id="quote"><%= @player.name %></div>
</div>

<div id="content">
  
<p>
  <b>Id:</b>
  <%=h @player.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @player.name %>
</p>

<p>
  <b>Plus-Minus:</b> <%=h @player.plus_minus %>
</p>


<!-- <%= link_to 'Edit', edit_player_path(@player) %> -->
<%= link_to 'Back', players_path %>

</div>