!!!

%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %meta(name="author" lang="en" content="Brian Mathiyakom; http://brian.rarevisions.net")
    %meta(name="copyright" lang="en" content="Brian Mathiyakom; http://brian.rarevisions.net")
    %meta(name="robots" content="none")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Bagel Central
    = stylesheet_link_tag "application"
    = yield :head

  %body
    %div.container
      %nav
        %div.navbar.navbar-inverse
          %div.navbar-inner
            %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

            %a.brand{:href => "#{root_path}", :title => "Bagel Central"} <span class="fui-arrow-right"/> Bagel Central

            %div.nav-collapse.collapse
              %ul.nav.pull-right
                %li#first= link_to 'Players', players_path
                %li= link_to "Bagels", bagels_path
                %li= link_to "Add Bagel", new_bagel_path

      %section
        = yield

      %footer
        %p Made by <a href="http://brian.rarevisions.net">Brian Mathiyakom</a> of <a href="http://rarevisions.net">rareVisions</a>.

    = javascript_include_tag "application"
